.booking-page {
    background: 
        radial-gradient(circle at 50% 50%, #e0b3e608 0%, #e0b3e626 30%, transparent 30%), 
        radial-gradient(circle at 20% 60%, #b3e0ff29 0%, #b3e0ff29 20%, transparent 20%), 
        radial-gradient(circle at 80% 60%, #f2b3e682 0%, #f2b3e600 20%, transparent 20%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    padding: 20px;
  }

/* Styles for the booking form container */
.booking-form-container {
    max-width: 500px;
    margin: 35px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: #18033f0d;
  }
  
  /* Centering the form */
  .booking-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 15px 0;
  }

  .w-50{
    width: 50px;
  }

  .booking-conf-text{
    font-size: 1.5rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    margin-top: 40px;
  }
  
  /* Style for form elements */
  .form-group {
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input.form-control {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  button.submit-button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button.submit-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  button.submit-button:hover:not(:disabled) {
    background-color: #0056b3;
  }
  
  /* Error message styling */
  .error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }
  
  /* Responsive styling */
  @media (max-width: 600px) {
    .booking-form-container {
      padding: 15px;
    }
  
    .form-group input.form-control {
      font-size: 14px;
    }
  
    button.submit-button {
      font-size: 14px;
    }
  }